{
  "log": {
    "_recordingName": "client-id-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "87ab52026b12c2996a2b748655efd65b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.digitalocean.com/v2/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 64,
            "text": "{\"id\": \"Unauthorized\", \"message\": \"Unable to authenticate you\" }"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-gateway",
              "value": "Edge-Gateway"
            },
            {
              "name": "x-response-from",
              "value": "Edge-Gateway"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 170,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
