{
  "log": {
    "_recordingName": "fetch-account",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "87ab52026b12c2996a2b748655efd65b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.digitalocean.com/v2/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 288,
            "text": "{\"account\":{\"droplet_limit\":25,\"floating_ip_limit\":3,\"reserved_ip_limit\":3,\"volume_limit\":100,\"email\":\"first.last@example.com\",\"uuid\":\"2a7f1094-39e4-4f14-acc0-b6bcc9ad87d4\",\"email_verified\":true,\"status\":\"active\",\"status_message\":\"\",\"team\":{\"uuid\":\"2a7f1094-39e4-4f14-acc0-b6bcc9ad87d4\",\"name\":\"My Team\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "ratelimit-remaining",
              "value": "4984"
            },
            {
              "name": "ratelimit-reset",
              "value": "1656182031"
            },
            {
              "name": "x-gateway",
              "value": "Edge-Gateway"
            },
            {
              "name": "x-response-from",
              "value": "service"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 371,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
